p {
  display: none;
  text-align: center;
}


.title {
  text-align: center;
}





.kotei1 {
  background-image: url(https://raw.githubusercontent.com/hinatabokko-niki/profile/master/EYdfaReU0AAfD9i.jpg);
}
.ugoku1 {
  background-color: #F08080;
  padding: 100px;
}
.kotei2 {
  background-image: url(file:///Users/kanazawamizuki/Desktop/ELL96_dryflowerrese131310_TP_V.jpg);
}
.ugoku2 {
  background-color: #F08080;
  padding: 100px;
}
.fixed-bg {
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
